$highlight: #30302F;
$background: #222222;
$accent: #94704D;
$bodytable: #000000;
$cpBackground: #222222;

$toHigh: #66CC66;
$toGood: #ADFF2F;
$toAverage: #FFD700;
$toLow: #FF9900;
$toPoor: #FF3030;
$toNone: #d3d3d3;

$hitDB: #66CC66;
$nohitDB: #FF3030;
$unqualified: #9F9F9F;
$reqmaster: #551A8B;
$nomaster: #0066CC;
$defaultText: #94704D;
$inputText: #000000;
$secondText: #997553;
$link: #0000FF;
$vlink: #800080;
$export: #000000;
$hover: #21211F;
